
.nav{
    position: relative;
    width: 100%;
    padding: 1rem 25px;
}
.header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 100px;
    border: 1px solid #fff;
    font-weight: 800;
}
.right_menu{
    display: flex; 
    height: 3rem;
    vertical-align: middle;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction:row;
}
.userthum{ 
    width: 2.5rem; 
    height: 2.5rem; 
    margin-right: 5px;
}

.button{
    background-color: black;
    border: 0;
    margin-right: 5px;
}

.button img{
    width: 2rem;
    height: 2rem;
}